/* Coolors Exported Palette - https://coolors.co/d4e09b-f6f4d2-cbdfbd-f19c79-a44a3f */

/* CSS HEX */
--vanilla-custard: #d4e09b;
--light-yellow: #f6f4d2;
--tea-green: #cbdfbd;
--tangerine-dream: #f19c79;
--reddish-brown: #a44a3f;

/* CSS HSL */
--vanilla-custard: hsla(70, 53%, 74%, 1);
--light-yellow: hsla(57, 67%, 89%, 1);
--tea-green: hsla(95, 35%, 81%, 1);
--tangerine-dream: hsla(18, 81%, 71%, 1);
--reddish-brown: hsla(7, 44%, 45%, 1);

/* SCSS HEX */
$vanilla-custard: #d4e09bff;
$light-yellow: #f6f4d2ff;
$tea-green: #cbdfbdff;
$tangerine-dream: #f19c79ff;
$reddish-brown: #a44a3fff;

/* SCSS HSL */
$vanilla-custard: hsla(70, 53%, 74%, 1);
$light-yellow: hsla(57, 67%, 89%, 1);
$tea-green: hsla(95, 35%, 81%, 1);
$tangerine-dream: hsla(18, 81%, 71%, 1);
$reddish-brown: hsla(7, 44%, 45%, 1);

/* SCSS RGB */
$vanilla-custard: rgba(212, 224, 155, 1);
$light-yellow: rgba(246, 244, 210, 1);
$tea-green: rgba(203, 223, 189, 1);
$tangerine-dream: rgba(241, 156, 121, 1);
$reddish-brown: rgba(164, 74, 63, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-right: linear-gradient(90deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-bottom: linear-gradient(180deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-left: linear-gradient(270deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-top-right: linear-gradient(45deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-bottom-right: linear-gradient(135deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-top-left: linear-gradient(225deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-bottom-left: linear-gradient(315deg, #d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-radial: radial-gradient(#d4e09bff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);